[Unit]
Description=RClone Service 1
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/opt/rclone1/rclone.conf

ExecStart=/usr/bin/rclone mount gdrive1: /GD1 \
--allow-other \
--dir-cache-time 96h \
--drive-chunk-size 32M \
--log-level INFO \
--log-file /opt/rclone1/logs/rclone.log \
--timeout 1h \
--umask 002 \
--rc
ExecStop=/bin/fusermount -uz /GD1
Restart=on-failure
User=xtreamcodes
Group=xtreamcodes

[Install]
WantedBy=multi-user.target
